<ul class="bg-slideshow">
		<li>
				<span class="image">Image 01</span>
				<div>
						<div class="hero-text">
								<h1>The world is a beautiful place</h1>
								<p>Let's share it!</p>
								<a href="/auth/google" class="btn-login"><span class="fa fa-google-plus"></span> Login with Gmail account</a>
						</div>
				</div>
		</li>
		<li>
				<span class="image">Image 02</span>
				<div>
						<div class="hero-text">
								<h1>The world is a beautiful place</h1>
								<p>Let's share it!</p>
								<a href="/auth/google" class="btn-login"><span class="fa fa-google-plus"></span> Login with Gmail account</a>
						</div>
				</div>
		</li>
		<li>
				<span class="image">Image 03</span>
				<div>
						<div class="hero-text">
								<h1>The world is a beautiful place</h1>
								<p>Let's share it!</p>
								<a href="/auth/google" class="btn-login"><span class="fa fa-google-plus"></span> Login with Gmail account</a>
						</div>
				</div>
		</li>
</ul>